.img {
   height: 50px;
   padding: 10px;
   margin-left: 5px;
}

.title {
    text-size-adjust: 5px;
    margin-left: 10px;
}

.price {
 
    margin-left: 3rem;
    
}

.quantity {
    
    padding-left: 102px;
   
    
   
}

.Removebtn {
    background-color:orange;
    margin-left: 15px;
}

