.section div {
    margin: 50px 100px ;
    margin-left: 8rem ;
  }
  
  .section-div-p {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3rem;
    
  }
  
  .section-img {
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 50%;
    margin: 2px;
    margin-right: 1rem
   
  }
  
  .section-h1 {
    margin: 0;
    color: azure;
    background-color: gray;
    font-size: 80px;
    text-align: center;
    height: 10rem;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  .section-h2 {
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    margin-top: 2rem;
  }