/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: transparent;
} */

.modal {
  position: fixed;
  top: 7vh;
  right: 0%;
  width: 40%;
  height: 100%;
  background-color: white;
  padding: 1rem;
  border-style:outset;
  border-color: brown;
  border-width: 1px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}
.item {
  margin-left: 1rem;
  font-weight: bold;
  
  
}

.price {
  margin-left: 7.5rem;
  font-weight: bold;
  
  
}

.quantity {
  margin-left: 5rem;
  font-weight: bold;
  
  
}

.heading {
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
  top: 1vh;
  font-size: xx-large;
  font-weight: bold;
}

.crossBtn {
  margin-left: 23rem;
  border-radius: 3px;
}

.underline {
  text-decoration: overline;
}